n8n-workflows/sync-1c-to-postgres-v3.json
{
  "name": "1C → PostgreSQL Full Sync v3",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-600, 200],
      "id": "manual"
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 2 * * *" }] }
      },
      "name": "Schedule 2AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-600, 400],
      "id": "schedule"
    },
    {
      "parameters": {
        "url": "http://192.168.33.250/tk/hs/TransportAPI/api/v1/vehicles",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": { "timeout": 30000 }
      },
      "name": "GET Vehicles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-300, 0],
      "id": "get-vehicles",
      "credentials": { "httpBasicAuth": { "id": "kVIepkfhbBhTYFg5", "name": "TransportAPI" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://192.168.33.250/tk/hs/TransportAPI/api/v1/drivers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": { "timeout": 30000 }
      },
      "name": "GET Drivers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-300, 200],
      "id": "get-drivers",
      "credentials": { "httpBasicAuth": { "id": "kVIepkfhbBhTYFg5", "name": "TransportAPI" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=http://192.168.33.250/tk/hs/TransportAPI/api/v1/contracts?date_from={{ $now.minus(30, 'days').toFormat('yyyy-MM-dd') }}&date_to={{ $now.toFormat('yyyy-MM-dd') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": { "timeout": 60000 }
      },
      "name": "GET Contracts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-300, 400],
      "id": "get-contracts",
      "credentials": { "httpBasicAuth": { "id": "kVIepkfhbBhTYFg5", "name": "TransportAPI" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Генерируем 4 недельных периода для driver-reports\nconst now = new Date();\nconst weeks = [];\n\nfor (let i = 0; i < 4; i++) {\n  const toDate = new Date(now);\n  toDate.setDate(toDate.getDate() - (i * 7));\n  \n  const fromDate = new Date(toDate);\n  fromDate.setDate(fromDate.getDate() - 6);\n  \n  weeks.push({\n    json: {\n      date_from: fromDate.toISOString().split('T')[0],\n      date_to: toDate.toISOString().split('T')[0],\n      week: i + 1\n    }\n  });\n}\n\nreturn weeks;"
      },
      "name": "Generate Weeks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-300, 600],
      "id": "generate-weeks"
    },
    {
      "parameters": {
        "url": "=http://192.168.33.250/tk/hs/TransportAPI/api/v1/driver-reports?date_from={{ $json.date_from }}&date_to={{ $json.date_to }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": { "timeout": 60000 }
      },
      "name": "GET Driver Reports",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 600],
      "id": "get-driver-reports",
      "credentials": { "httpBasicAuth": { "id": "kVIepkfhbBhTYFg5", "name": "TransportAPI" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length === 0) return [];\n\nlet data = items;\nif (items[0].json && Array.isArray(items[0].json)) {\n  data = items[0].json.map(v => ({ json: v }));\n}\n\nfunction esc(s) {\n  if (s === null || s === undefined) return '';\n  return String(s).replace(/'/g, \"''\");\n}\n\nconst result = [];\nfor (const item of data) {\n  const v = item.json || item;\n  const id = esc(v.id || v.Ref_Key || '');\n  if (id) {\n    result.push({ json: { id, license_plate: esc(v.license_plate || v.ГосНомер || ''), model: esc(v.model || v.Модель || v.Description || '') } });\n  }\n}\nreturn result;"
      },
      "name": "Transform Vehicles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "transform-vehicles"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length === 0) return [];\n\nlet data = items;\nif (items[0].json && Array.isArray(items[0].json)) {\n  data = items[0].json.map(d => ({ json: d }));\n}\n\nfunction esc(s) {\n  if (s === null || s === undefined) return '';\n  return String(s).replace(/'/g, \"''\");\n}\n\nconst result = [];\nfor (const item of data) {\n  const d = item.json || item;\n  const id = esc(d.id || d.Ref_Key || d.full_name || '');\n  if (id) {\n    result.push({ json: { id, full_name: esc(d.full_name || d.ФИО || d.Description || '') } });\n  }\n}\nreturn result;"
      },
      "name": "Transform Drivers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 200],
      "id": "transform-drivers"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length === 0) return [];\n\nlet data = items;\nif (items[0].json && Array.isArray(items[0].json)) {\n  data = items[0].json.map(c => ({ json: c }));\n}\n\nfunction esc(s) {\n  if (s === null || s === undefined) return '';\n  return String(s).replace(/'/g, \"''\");\n}\n\nconst result = [];\nfor (const item of data) {\n  const c = item.json || item;\n  const number = esc(c.number || c.Номер || '');\n  const date = c.date || c.Дата || null;\n  if (number && date) {\n    result.push({\n      json: {\n        number, date,\n        organization: esc(c.organization || ''),\n        contractor_id: esc(c.contractor_id || ''),\n        contractor_name: esc(c.contractor_name || ''),\n        vehicle_id: esc(c.vehicle_id || ''),\n        vehicle_number: esc(c.vehicle_number || ''),\n        driver_id: esc(c.driver_id || ''),\n        driver_name: esc(c.driver_name || ''),\n        responsible_logist: esc(c.responsible_logist || ''),\n        route: esc(c.route || ''),\n        payment_term: esc(c.payment_term || ''),\n        payment_condition: esc(c.payment_condition || ''),\n        amount: parseFloat(c.amount || 0) || 0\n      }\n    });\n  }\n}\nreturn result;"
      },
      "name": "Transform Contracts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 400],
      "id": "transform-contracts"
    },
    {
      "parameters": {
        "jsCode": "// Собираем все отчёты из всех недель\nconst items = $input.all();\nconst allReports = [];\n\nfunction esc(s) {\n  if (s === null || s === undefined) return '';\n  return String(s).replace(/'/g, \"''\");\n}\n\nfunction parseNum(val) {\n  if (val === null || val === undefined || val === '') return 0;\n  if (typeof val === 'number') return val;\n  const cleaned = String(val).replace(/\\s/g, '').replace(',', '.');\n  return parseFloat(cleaned) || 0;\n}\n\nfor (const item of items) {\n  let reports = item.json;\n  if (!Array.isArray(reports)) {\n    if (reports && typeof reports === 'object') reports = [reports];\n    else continue;\n  }\n  \n  for (const r of reports) {\n    if (!r.id) continue;\n    allReports.push({\n      json: {\n        id: esc(r.id),\n        number: esc(r.number || ''),\n        date_from: r.date_from || null,\n        date_to: r.date_to || null,\n        driver_id: esc(r.driver_id || ''),\n        driver_name: esc(r.driver_name || ''),\n        vehicle_id: esc(r.vehicle_id || ''),\n        vehicle_number: esc(r.vehicle_number || ''),\n        fuel_start: parseNum(r.fuel_start),\n        fuel_end: parseNum(r.fuel_end),\n        mileage: Math.round(parseNum(r.mileage)),\n        fuel_quantity: parseNum(r.fuel_quantity),\n        fuel_amount: parseNum(r.fuel_amount),\n        total_expenses: parseNum(r.total_expenses),\n        driver_accruals: parseNum(r.driver_accruals),\n        driver_payments: parseNum(r.driver_payments),\n        expense_categories: JSON.stringify(r.expense_categories || [])\n      }\n    });\n  }\n}\n\nconsole.log('Driver Reports:', allReports.length);\nreturn allReports;"
      },
      "name": "Transform Reports",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 600],
      "id": "transform-reports"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM vehicles; SELECT 'ok';",
        "options": {}
      },
      "name": "Clear Vehicles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [300, 0],
      "id": "clear-vehicles",
      "credentials": { "postgres": { "id": "LIDFwhUbrNchvBBP", "name": "Postgres_Direct" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM drivers; SELECT 'ok';",
        "options": {}
      },
      "name": "Clear Drivers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [300, 200],
      "id": "clear-drivers",
      "credentials": { "postgres": { "id": "LIDFwhUbrNchvBBP", "name": "Postgres_Direct" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO vehicles (id, license_plate, model, synced_at) VALUES ('{{ $json.id }}', '{{ $json.license_plate }}', '{{ $json.model }}', NOW()) ON CONFLICT (id) DO UPDATE SET license_plate = EXCLUDED.license_plate, model = EXCLUDED.model, synced_at = NOW()",
        "options": {}
      },
      "name": "Upsert Vehicles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [600, 0],
      "id": "upsert-vehicles",
      "credentials": { "postgres": { "id": "LIDFwhUbrNchvBBP", "name": "Postgres_Direct" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO drivers (id, full_name, synced_at) VALUES ('{{ $json.id }}', '{{ $json.full_name }}', NOW()) ON CONFLICT (id) DO UPDATE SET full_name = EXCLUDED.full_name, synced_at = NOW()",
        "options": {}
      },
      "name": "Upsert Drivers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [600, 200],
      "id": "upsert-drivers",
      "credentials": { "postgres": { "id": "LIDFwhUbrNchvBBP", "name": "Postgres_Direct" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO contracts (number, date, organization, contractor_id, contractor_name, vehicle_id, vehicle_number, driver_id, driver_name, responsible_logist, route, payment_term, payment_condition, amount, synced_at) VALUES ('{{ $json.number }}', '{{ $json.date }}', '{{ $json.organization }}', '{{ $json.contractor_id }}', '{{ $json.contractor_name }}', '{{ $json.vehicle_id }}', '{{ $json.vehicle_number }}', '{{ $json.driver_id }}', '{{ $json.driver_name }}', '{{ $json.responsible_logist }}', '{{ $json.route }}', '{{ $json.payment_term }}', '{{ $json.payment_condition }}', {{ $json.amount }}, NOW()) ON CONFLICT (number, date) DO UPDATE SET organization = EXCLUDED.organization, contractor_id = EXCLUDED.contractor_id, contractor_name = EXCLUDED.contractor_name, vehicle_id = EXCLUDED.vehicle_id, vehicle_number = EXCLUDED.vehicle_number, driver_id = EXCLUDED.driver_id, driver_name = EXCLUDED.driver_name, responsible_logist = EXCLUDED.responsible_logist, route = EXCLUDED.route, payment_term = EXCLUDED.payment_term, payment_condition = EXCLUDED.payment_condition, amount = EXCLUDED.amount, synced_at = NOW()",
        "options": {}
      },
      "name": "Upsert Contracts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [300, 400],
      "id": "upsert-contracts",
      "credentials": { "postgres": { "id": "LIDFwhUbrNchvBBP", "name": "Postgres_Direct" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO driver_reports (id, number, date_from, date_to, driver_id, driver_name, vehicle_id, vehicle_number, fuel_start, fuel_end, mileage, fuel_quantity, fuel_amount, total_expenses, driver_accruals, driver_payments, expense_categories, synced_at) VALUES ('{{ $json.id }}', '{{ $json.number }}', '{{ $json.date_from }}', '{{ $json.date_to }}', '{{ $json.driver_id }}', '{{ $json.driver_name }}', '{{ $json.vehicle_id }}', '{{ $json.vehicle_number }}', {{ $json.fuel_start }}, {{ $json.fuel_end }}, {{ $json.mileage }}, {{ $json.fuel_quantity }}, {{ $json.fuel_amount }}, {{ $json.total_expenses }}, {{ $json.driver_accruals }}, {{ $json.driver_payments }}, '{{ $json.expense_categories }}', NOW()) ON CONFLICT (id) DO UPDATE SET number = EXCLUDED.number, date_from = EXCLUDED.date_from, date_to = EXCLUDED.date_to, driver_id = EXCLUDED.driver_id, driver_name = EXCLUDED.driver_name, vehicle_id = EXCLUDED.vehicle_id, vehicle_number = EXCLUDED.vehicle_number, fuel_start = EXCLUDED.fuel_start, fuel_end = EXCLUDED.fuel_end, mileage = EXCLUDED.mileage, fuel_quantity = EXCLUDED.fuel_quantity, fuel_amount = EXCLUDED.fuel_amount, total_expenses = EXCLUDED.total_expenses, driver_accruals = EXCLUDED.driver_accruals, driver_payments = EXCLUDED.driver_payments, expense_categories = EXCLUDED.expense_categories, synced_at = NOW()",
        "options": {}
      },
      "name": "Upsert Reports",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [600, 600],
      "id": "upsert-reports",
      "credentials": { "postgres": { "id": "LIDFwhUbrNchvBBP", "name": "Postgres_Direct" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "mode": "chooseBranch", "output": "empty" },
      "name": "Wait All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [900, 300],
      "id": "wait-all"
    },
    {
      "parameters": {
        "jsCode": "let v=0,d=0,c=0,r=0;\ntry{v=$('Transform Vehicles').all().length}catch(e){}\ntry{d=$('Transform Drivers').all().length}catch(e){}\ntry{c=$('Transform Contracts').all().length}catch(e){}\ntry{r=$('Transform Reports').all().length}catch(e){}\nreturn [{json:{time:new Date().toISOString(),vehicles:v,drivers:d,contracts:c,driver_reports:r,total:v+d+c+r}}];"
      },
      "name": "Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "id": "report"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{
            "name": "message",
            "value": "=✅ Синхронизация завершена!\n\n• Машин: {{ $json.vehicles }}\n• Водителей: {{ $json.drivers }}\n• Договоров: {{ $json.contracts }}\n• Отчётов водителей: {{ $json.driver_reports }}\n\nВсего: {{ $json.total }} записей\n⏱ {{ $json.time }}",
            "type": "string"
          }]
        },
        "options": {}
      },
      "name": "Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1300, 300],
      "id": "done"
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "GET Vehicles", "type": "main", "index": 0 },{ "node": "GET Drivers", "type": "main", "index": 0 },{ "node": "GET Contracts", "type": "main", "index": 0 },{ "node": "Generate Weeks", "type": "main", "index": 0 }]] },
    "Schedule 2AM": { "main": [[{ "node": "GET Vehicles", "type": "main", "index": 0 },{ "node": "GET Drivers", "type": "main", "index": 0 },{ "node": "GET Contracts", "type": "main", "index": 0 },{ "node": "Generate Weeks", "type": "main", "index": 0 }]] },
    "GET Vehicles": { "main": [[{ "node": "Transform Vehicles", "type": "main", "index": 0 }]] },
    "GET Drivers": { "main": [[{ "node": "Transform Drivers", "type": "main", "index": 0 }]] },
    "GET Contracts": { "main": [[{ "node": "Transform Contracts", "type": "main", "index": 0 }]] },
    "Generate Weeks": { "main": [[{ "node": "GET Driver Reports", "type": "main", "index": 0 }]] },
    "GET Driver Reports": { "main": [[{ "node": "Transform Reports", "type": "main", "index": 0 }]] },
    "Transform Vehicles": { "main": [[{ "node": "Clear Vehicles", "type": "main", "index": 0 }]] },
    "Transform Drivers": { "main": [[{ "node": "Clear Drivers", "type": "main", "index": 0 }]] },
    "Transform Contracts": { "main": [[{ "node": "Upsert Contracts", "type": "main", "index": 0 }]] },
    "Transform Reports": { "main": [[{ "node": "Upsert Reports", "type": "main", "index": 0 }]] },
    "Clear Vehicles": { "main": [[{ "node": "Upsert Vehicles", "type": "main", "index": 0 }]] },
    "Clear Drivers": { "main": [[{ "node": "Upsert Drivers", "type": "main", "index": 0 }]] },
    "Upsert Vehicles": { "main": [[{ "node": "Wait All", "type": "main", "index": 0 }]] },
    "Upsert Drivers": { "main": [[{ "node": "Wait All", "type": "main", "index": 1 }]] },
    "Upsert Contracts": { "main": [[{ "node": "Wait All", "type": "main", "index": 2 }]] },
    "Upsert Reports": { "main": [[{ "node": "Wait All", "type": "main", "index": 3 }]] },
    "Wait All": { "main": [[{ "node": "Report", "type": "main", "index": 0 }]] },
    "Report": { "main": [[{ "node": "Done", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
