database/n8n_workflow_1c_sync.json
{
  "name": "1C REST API → Supabase Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "name": "Schedule: Daily 2 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "schedule-trigger",
      "notes": "Запускается ежедневно в 2:00 ночи"
    },
    {
      "parameters": {
        "url": "http://192.168.33.250/tk/hs/TransportAPI/api/v1/vehicles",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "GET: Vehicles from 1C",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 200],
      "id": "get-vehicles",
      "notes": "Получить справочник машин (166 записей)",
      "credentials": {
        "httpBasicAuth": {
          "id": "1c-transport-api",
          "name": "1C TransportAPI Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "http://192.168.33.250/tk/hs/TransportAPI/api/v1/drivers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "GET: Drivers from 1C",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 350],
      "id": "get-drivers",
      "notes": "Получить справочник водителей (65 записей)",
      "credentials": {
        "httpBasicAuth": {
          "id": "1c-transport-api",
          "name": "1C TransportAPI Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://192.168.33.250/tk/hs/TransportAPI/api/v1/contracts?date_from={{ $now.minus(30, 'days').toFormat('yyyy-MM-dd') }}&date_to={{ $now.toFormat('yyyy-MM-dd') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "GET: Contracts (Last 30 Days)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 500],
      "id": "get-contracts",
      "notes": "Получить договоры за последние 30 дней (инкрементально)",
      "credentials": {
        "httpBasicAuth": {
          "id": "1c-transport-api",
          "name": "1C TransportAPI Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://192.168.33.250/tk/hs/TransportAPI/api/v1/driver-reports?date_from={{ $now.minus(30, 'days').toFormat('yyyy-MM-dd') }}&date_to={{ $now.toFormat('yyyy-MM-dd') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "GET: Driver Reports (Last 30 Days)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 650],
      "id": "get-driver-reports",
      "notes": "Получить отчеты водителей за последние 30 дней (лимит 1000)",
      "credentials": {
        "httpBasicAuth": {
          "id": "1c-transport-api",
          "name": "1C TransportAPI Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM vehicles",
        "options": {}
      },
      "name": "Clear: Vehicles Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 200],
      "id": "clear-vehicles",
      "notes": "Полная очистка справочника перед загрузкой",
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM drivers",
        "options": {}
      },
      "name": "Clear: Drivers Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 350],
      "id": "clear-drivers",
      "notes": "Полная очистка справочника перед загрузкой",
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "vehicles",
        "columns": "id, license_plate, model, synced_at",
        "options": {
          "skipOnConflict": false
        }
      },
      "name": "Upsert: Vehicles to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 200],
      "id": "upsert-vehicles",
      "notes": "Вставка всех машин после очистки",
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "drivers",
        "columns": "id, full_name, synced_at",
        "options": {
          "skipOnConflict": false
        }
      },
      "name": "Upsert: Drivers to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 350],
      "id": "upsert-drivers",
      "notes": "Вставка всех водителей после очистки",
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO contracts (number, date, organization, contractor_id, contractor_name, vehicle_id, vehicle_number, driver_id, driver_name, responsible_logist, route, payment_term, payment_condition, amount, synced_at)\nVALUES ('{{ $json.number }}', '{{ $json.date }}', '{{ $json.organization }}', '{{ $json.contractor_id }}', '{{ $json.contractor_name }}', '{{ $json.vehicle_id }}', '{{ $json.vehicle_number }}', '{{ $json.driver_id }}', '{{ $json.driver_name }}', '{{ $json.responsible_logist }}', '{{ $json.route }}', '{{ $json.payment_term }}', '{{ $json.payment_condition }}', {{ $json.amount }}, NOW())\nON CONFLICT (number, date) DO UPDATE SET\n  organization = EXCLUDED.organization,\n  contractor_id = EXCLUDED.contractor_id,\n  contractor_name = EXCLUDED.contractor_name,\n  vehicle_id = EXCLUDED.vehicle_id,\n  vehicle_number = EXCLUDED.vehicle_number,\n  driver_id = EXCLUDED.driver_id,\n  driver_name = EXCLUDED.driver_name,\n  responsible_logist = EXCLUDED.responsible_logist,\n  route = EXCLUDED.route,\n  payment_term = EXCLUDED.payment_term,\n  payment_condition = EXCLUDED.payment_condition,\n  amount = EXCLUDED.amount,\n  synced_at = NOW()",
        "options": {}
      },
      "name": "Upsert: Contracts to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 500],
      "id": "upsert-contracts",
      "notes": "Upsert договоров (обновление существующих)",
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO driver_reports (id, number, date_from, date_to, driver_id, driver_name, vehicle_id, vehicle_number, fuel_start, fuel_end, mileage, fuel_quantity, fuel_amount, total_expenses, driver_accruals, driver_payments, synced_at)\nVALUES ('{{ $json.id }}', '{{ $json.number }}', '{{ $json.date_from }}', '{{ $json.date_to }}', '{{ $json.driver_id }}', '{{ $json.driver_name }}', '{{ $json.vehicle_id }}', '{{ $json.vehicle_number }}', {{ $json.fuel_start }}, {{ $json.fuel_end }}, {{ $json.mileage }}, {{ $json.fuel_quantity }}, {{ $json.fuel_amount }}, {{ $json.total_expenses }}, {{ $json.driver_accruals }}, {{ $json.driver_payments }}, NOW())\nON CONFLICT (id) DO UPDATE SET\n  number = EXCLUDED.number,\n  date_from = EXCLUDED.date_from,\n  date_to = EXCLUDED.date_to,\n  driver_id = EXCLUDED.driver_id,\n  driver_name = EXCLUDED.driver_name,\n  vehicle_id = EXCLUDED.vehicle_id,\n  vehicle_number = EXCLUDED.vehicle_number,\n  fuel_start = EXCLUDED.fuel_start,\n  fuel_end = EXCLUDED.fuel_end,\n  mileage = EXCLUDED.mileage,\n  fuel_quantity = EXCLUDED.fuel_quantity,\n  fuel_amount = EXCLUDED.fuel_amount,\n  total_expenses = EXCLUDED.total_expenses,\n  driver_accruals = EXCLUDED.driver_accruals,\n  driver_payments = EXCLUDED.driver_payments,\n  synced_at = NOW()",
        "options": {}
      },
      "name": "Upsert: Driver Reports to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 650],
      "id": "upsert-driver-reports",
      "notes": "Upsert отчетов водителей",
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Обработка expense_categories из driver_reports\nconst items = [];\n\nfor (const item of $input.all()) {\n  const reportId = item.json.id;\n  const expenseCategories = item.json.expense_categories || [];\n  \n  for (const category of expenseCategories) {\n    items.push({\n      json: {\n        driver_report_id: reportId,\n        category: category.category,\n        amount: category.amount\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "name": "Extract: Expense Categories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 800],
      "id": "extract-expense-categories",
      "notes": "Извлечь массив expense_categories из каждого отчета"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM expense_categories WHERE driver_report_id IN (SELECT id FROM driver_reports WHERE date_from >= NOW() - INTERVAL '30 days')",
        "options": {}
      },
      "name": "Clear: Old Expense Categories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 800],
      "id": "clear-expense-categories",
      "notes": "Удалить старые категории расходов за последние 30 дней",
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "expense_categories",
        "columns": "driver_report_id, category, amount",
        "options": {}
      },
      "name": "Insert: Expense Categories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 800],
      "id": "insert-expense-categories",
      "notes": "Вставить категории расходов",
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "name": "Merge: All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1250, 400],
      "id": "merge-results",
      "notes": "Объединить все результаты синхронизации"
    },
    {
      "parameters": {
        "jsCode": "// Создать отчет о синхронизации\nconst now = new Date().toISOString();\nconst summary = {\n  sync_time: now,\n  vehicles_synced: $('GET: Vehicles from 1C').all().length,\n  drivers_synced: $('GET: Drivers from 1C').all().length,\n  contracts_synced: $('GET: Contracts (Last 30 Days)').all().length,\n  driver_reports_synced: $('GET: Driver Reports (Last 30 Days)').all().length,\n  expense_categories_synced: $('Extract: Expense Categories').all().length,\n  status: 'success'\n};\n\nconsole.log('✅ Sync completed:', summary);\n\nreturn [{ json: summary }];"
      },
      "name": "Create: Sync Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 400],
      "id": "create-sync-report",
      "notes": "Создать отчет о результатах синхронизации"
    }
  ],
  "connections": {
    "Schedule: Daily 2 AM": {
      "main": [
        [
          {
            "node": "GET: Vehicles from 1C",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET: Drivers from 1C",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET: Contracts (Last 30 Days)",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET: Driver Reports (Last 30 Days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET: Vehicles from 1C": {
      "main": [
        [
          {
            "node": "Clear: Vehicles Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET: Drivers from 1C": {
      "main": [
        [
          {
            "node": "Clear: Drivers Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET: Contracts (Last 30 Days)": {
      "main": [
        [
          {
            "node": "Upsert: Contracts to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET: Driver Reports (Last 30 Days)": {
      "main": [
        [
          {
            "node": "Upsert: Driver Reports to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract: Expense Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear: Vehicles Table": {
      "main": [
        [
          {
            "node": "Upsert: Vehicles to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear: Drivers Table": {
      "main": [
        [
          {
            "node": "Upsert: Drivers to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract: Expense Categories": {
      "main": [
        [
          {
            "node": "Clear: Old Expense Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear: Old Expense Categories": {
      "main": [
        [
          {
            "node": "Insert: Expense Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert: Vehicles to Supabase": {
      "main": [
        [
          {
            "node": "Merge: All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert: Drivers to Supabase": {
      "main": [
        [
          {
            "node": "Merge: All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upsert: Contracts to Supabase": {
      "main": [
        [
          {
            "node": "Merge: All Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Upsert: Driver Reports to Supabase": {
      "main": [
        [
          {
            "node": "Merge: All Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Insert: Expense Categories": {
      "main": [
        [
          {
            "node": "Merge: All Results",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge: All Results": {
      "main": [
        [
          {
            "node": "Create: Sync Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-09T00:00:00.000Z",
  "versionId": "1"
}
